node_modules/
data/*.db
.env
projectfiles/
.mygit/
keyvault-project-code.zip
keyvault-webapp.zip
keyvaultwebapp.zip
keyvault-store-theme.zip
.DS_Store
*.bak
*.pyc
__pycache__/
*.log
package-lock.json
server.err.log
server.log
